spring:
  application:
    name: MailServer
  datasource:
    url: jdbc:mysql://localhost:3306/mail_db?createDatabaseIfNotExist=true
    username: root
    password: SQL_Ahmed2004
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB